
/* Sidebar container */
.sidebar {
  width: 250px;
  height: 1184px;
  position: fixed; /* Keeps sidebar aligned to the left of the page */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  mix-blend-mode: normal;
  opacity: 1;
}

/* Sidebar Title */
.sidebar-title {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  font: normal normal normal 25px/33px Mont;
  letter-spacing: 0px;
  color: #343c6a;
  opacity: 1;
}

.sidebar .dashboard {
  text-align: left;
  font: normal normal normal 18px/24px Inter;
  letter-spacing: 0px;
  color: #2d60ff;
  opacity: 1;
}
/* Sidebar Menu */
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidebar Menu Items */
.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left;
  font: normal normal normal 18px/24px Inter;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
}

/* Hover effect */

/* Icon styling */
.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
